<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    
    <form action="" method="GET">
        <div> Enter E-Mail id   <input type="email"></div><br>
        
        <div>Enter Password   <input type="password"></div><br>

        <div>Verify Password   <input type="password">  </div><br>
        
        <div><button>Submit</button></div>

    </form>
</body>
</html>